@font-face {
  font-family: "Mont";
  font-display: swap;
  src: url("../fonts/Mont-Regular.woff2") format("woff2"), url("../fonts/Mont-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  font-display: swap;
  src: url("../fonts/Mont-SemiBold.woff2") format("woff2"), url("../fonts/Mont-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  font-display: swap;
  src: url("../fonts/Mont-Bold.woff2") format("woff2"), url("../fonts/Mont-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
:root {
  --main-color: #323949;
  --main-color-50: rgba(50, 57, 73, 0.5);
  --main-color-20: rgba(50, 57, 73, 0.2);
  --black-color: #000;
  --black-color-30: rgba(0, 0, 0, 0.3);
  --light-color: #fff;
  --purple-color: #5c5cb4;
  --bg-grey-color: #f8f8f8;
  --grey-color: #eeeded;
  --grey-second-color: #d9d9d9;
  --blue-color: #7876af;
  --light-blue-color: #f3f6f9;
  --accent-color: #fca75a;
  --fontSize: 1rem;
  --font-family: "Mont", sans-serif;
  --box-shadow: 0.0625rem 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1);
  --box-shadow-second: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1);
  --border: 0.0625rem solid rgba(50, 57, 73, 0.1);
  --border-second: 0.03125rem solid rgba(50, 57, 73, 0.1);
  --border-radius: 0.625rem;
  --trans-elem: 0.2s cubic-bezier(0.27, 0.44, 0.56, 0.96);
  --trans-menu: 0.4s cubic-bezier(0.13, 0.48, 0.58, 0.96);
}

* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  font-family: var(--font-family);
  font-size: var(--fontSize);
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea {
  font-family: var(--font-family);
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}
a[class] {
  text-decoration: none;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list-reset {
  list-style: none;
}

.btn-reset {
  background-color: transparent;
  color: inherit;
  font-weight: inherit;
  border: 0;
}

ul {
  list-style-position: inside;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  color: var(--main-color);
  background-color: var(--light-color);
}
.lock body {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}

[class*=__container] {
  max-inline-size: 116.875rem;
  margin-inline: auto;
  padding-inline: 0.9375rem;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

.icon {
  inline-size: 1.5rem;
  block-size: 1.5rem;
  display: block;
  fill: currentColor;
}
.icon--stroke {
  fill: none;
  stroke: currentColor;
}

.checkbox__item {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  cursor: pointer;
}
.checkbox__item--second .checkbox__input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.checkbox__item--second .checkbox__input:checked + .checkbox__label::before {
  border-color: var(--purple-color);
}
.checkbox__item--second .checkbox__input:checked + .checkbox__label::after {
  opacity: 1;
}
.checkbox__item--second .checkbox__label {
  display: flex;
  align-items: center;
  position: relative;
}
.checkbox__item--second .checkbox__label::before {
  content: "";
  flex: 0 0 1.125rem;
  inline-size: 1.125rem;
  block-size: 1.125rem;
  border: var(--border);
  border-radius: 0.25rem;
  transition: border-color var(--trans-elem);
}
.checkbox__item--second .checkbox__label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  inline-size: 0.75rem;
  block-size: 0.625rem;
  background: url("../img/main-icons/check-purple.svg") center/contain no-repeat;
  opacity: 0;
  transition: opacity var(--trans-elem);
}
.checkbox__input {
  align-self: start;
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 1.125rem;
  block-size: 1.125rem;
  border-radius: 0.1875rem;
  background-color: var(--light-color);
  border: var(--border);
  transition: border-color var(--trans-elem);
  cursor: pointer;
}
.checkbox__input::before {
  content: "";
  inline-size: 0.75rem;
  block-size: 0.625rem;
  border-radius: 0.125rem;
  transition: opacity var(--trans-elem);
  background: url("../img/main-icons/check-purple.svg") center/contain no-repeat;
  opacity: 0;
}
.checkbox__input:checked {
  border-color: var(--purple-color);
}
.checkbox__input:checked::before {
  opacity: 1;
}
.checkbox__input:focus-visible {
  outline: 0.125rem dashed var(--main-color);
  outline-offset: 0.125rem;
  background-color: #dcdcdc;
}
.checkbox__label {
  font-size: 0.875rem;
  user-select: none;
}

.select {
  min-width: 0;
  position: relative;
}
.select__body {
  position: relative;
}
.select__title {
  width: 100%;
  color: inherit;
  text-align: left;
  background-color: var(--bg-grey-color);
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}
.select__title:focus-visible {
  outline: 0.125rem dashed var(--purple-color);
  outline-offset: 0.125rem;
}
.select__value {
  display: flex;
  min-width: 0;
  align-items: center;
  height: 1.375rem;
  padding-inline: 0.5rem;
  gap: 0.3125rem;
}
.select__value > * {
  flex: 1 1 auto;
}
.select__value:after {
  content: "";
  align-self: stretch;
  flex: 0 0 0.375rem;
  transition: all 0.3s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/main-icons/arrow-main.svg") center no-repeat;
}
._select-open .select__value:after {
  transform: rotate(-180deg);
}
.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}
.select__content {
  flex: 1 1 auto;
  color: var(--main-color);
  font-size: 0.75rem;
  font-weight: 700;
}
.select__text {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}
.select__options {
  color: var(--main-color);
  position: absolute;
  top: calc(100% - 0.0625rem);
  border-radius: 0 0 0.25rem 0.25rem;
  min-width: 100%;
  left: 0;
  background-color: var(--light-color);
  border-top: 0;
  border: var(--border);
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 12.5rem;
}
.select__option {
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding-block: 0.3125rem;
  padding-inline: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 700;
  color: inherit;
}
.select__option._select-selected {
  background-color: #4b4b4b;
}
.select__option:focus-visible {
  outline: 0.125rem dashed var(--purple-color);
  outline-offset: -0.125rem;
  background-color: #f3f3f3;
}
@media (any-hover: hover) {
  .select__option:hover {
    background-color: #f3f3f3;
  }
}
.select__row {
  display: inline-flex;
  align-items: center;
}
.select--show-top .select__options {
  top: auto;
  bottom: calc(100% - 0.0625rem);
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
}
._select-tag {
  cursor: pointer;
}

.btn {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  padding-inline: 0.625rem;
  border-radius: var(--border-radius);
  border: 0.0625rem solid transparent;
  transition: background-color var(--trans-elem), color var(--trans-elem), border-color var(--trans-elem);
}
.btn--large {
  min-block-size: 2.5rem;
}
.btn--small {
  font-size: 0.875rem;
  min-block-size: 2rem;
}
.btn--small-mid {
  font-size: 0.875rem;
  min-block-size: 2.25rem;
}
.btn--grey {
  background-color: var(--grey-color);
}
.btn--grey:focus-visible {
  outline: 0.125rem dashed var(--accent-color);
  outline-offset: 0.125rem;
  background-color: #e2e0e0;
}
@media (any-hover: hover) {
  .btn--grey:hover {
    background-color: #e2e0e0;
  }
}
.btn--border {
  border-color: var(--main-color-20);
}
.btn--border:focus-visible {
  outline: 0.125rem dashed var(--accent-color);
  outline-offset: 0.125rem;
  background-color: var(--main-color);
  color: var(--light-color);
}
@media (any-hover: hover) {
  .btn--border:hover {
    background-color: var(--main-color);
    color: var(--light-color);
  }
}
.btn--accent {
  background-color: var(--accent-color);
  color: var(--light-color);
}
.btn--accent:focus-visible {
  outline: 0.125rem dashed var(--accent-color);
  outline-offset: 0.125rem;
  background-color: #fc9a41;
}
@media (any-hover: hover) {
  .btn--accent:hover {
    background-color: #fc9a41;
  }
}
.btn svg {
  flex: 0 0 0.9375rem;
  inline-size: 0.9375rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 0;
}

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9375rem;
}
.promo__image {
  max-inline-size: 11.5625rem;
  aspect-ratio: 1;
}
.promo__body {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.25rem;
}
.promo__wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.promo__title {
  font-weight: 600;
}
.promo__text {
  font-size: 0.75rem;
  color: var(--main-color-50);
}
.promo__btn {
  align-self: stretch;
}

.main-search {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  background-color: var(--bg-grey-color);
  min-block-size: 2.5rem;
  border-radius: var(--border-radius);
  padding-inline: 1.25rem;
  color: var(--main-color-50);
  transition: box-shadow var(--trans-elem);
}
.main-search:focus-within {
  box-shadow: 0 0 0 0.0625rem var(--purple-color);
}
.main-search__icon {
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: currentColor;
}
.main-search__input {
  font-weight: 600;
  inline-size: 100%;
  color: var(--main-color);
}
.main-search__input::placeholder {
  opacity: 1;
  color: var(--main-color-50);
  transition: opacity var(--trans-elem);
}
.main-search__input:focus-visible::placeholder {
  opacity: 0;
}

.item-folder {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  padding-block: 0.9375rem;
  padding-inline: 1.25rem;
  background-color: var(--bg-grey-color);
  border-radius: var(--border-radius);
}
.item-folder__icon {
  color: var(--main-color-20);
}
.item-folder__body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.item-folder__title {
  font-weight: 600;
}
.item-folder__row {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.item-folder__quantity {
  font-size: 0.875rem;
  font-weight: 600;
}
.item-folder__size {
  font-size: 0.75rem;
  color: var(--main-color-50);
}
.item-folder__btn-action {
  color: var(--main-color-50);
  transition: color var(--trans-elem);
}
@media (any-hover: hover) {
  .item-folder__btn-action:hover {
    color: var(--main-color);
  }
}
.members {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}
.members__items {
  display: flex;
  align-items: center;
}
.members__item {
  flex: 0 0 1.5rem;
  inline-size: 1.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  border: 0.0625rem solid var(--light-color);
}
.members__item:not(:first-child) {
  margin-inline-start: -0.625rem;
}
.members__more {
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--main-color-50);
}

.pagging {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.pagging__arrow {
  flex: 0 0 1.5rem;
  inline-size: 1.5rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  transition: background-color var(--trans-elem);
}
.pagging__arrow[disabled] {
  cursor: default;
  pointer-events: none;
  color: var(--main-color-20);
}
.pagging__arrow svg {
  inline-size: 0.875rem;
  block-size: 0.875rem;
}
.pagging__arrow--prev svg {
  rotate: 90deg;
}
.pagging__arrow--next svg {
  rotate: -90deg;
}
.pagging__arrow:focus-visible {
  outline: 0.125rem dashed var(--purple-color);
  outline-offset: 0.125rem;
  background-color: #f3f2f2;
}
@media (any-hover: hover) {
  .pagging__arrow:hover {
    background-color: #f3f2f2;
  }
}
.pagging__list {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.pagging__page {
  font-weight: 600;
  font-size: 0.875rem;
  flex: 0 0 1.5rem;
  inline-size: 1.5rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  transition: background-color var(--trans-elem);
}
.pagging__page--active {
  background-color: var(--grey-color);
}
.pagging__page:focus-visible {
  outline: 0.125rem dashed var(--purple-color);
  outline-offset: 0.125rem;
  background-color: #f3f2f2;
}
@media (any-hover: hover) {
  .pagging__page:hover {
    background-color: #f3f2f2;
  }
}

@media (min-width: 75em) {
  .icon-menu {
    display: none;
  }
}
@media (max-width: 75em) {
  .icon-menu {
    flex: 0 0 1.875rem;
    width: 1.875rem;
    height: 1.125rem;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    position: absolute;
    left: 50%;
    translate: -50% 0;
    background-color: var(--main-color);
    width: 70%;
    height: 0.125rem;
    border-radius: 0.3125rem;
    transition: all 0.25s linear;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu--close::before {
    top: calc(50% - 0.0625rem);
    rotate: 45deg;
  }
  .icon-menu--close::after {
    bottom: calc(50% - 0.0625rem);
    rotate: -45deg;
  }
  .icon-menu--close span {
    scale: 0;
  }
}

@media (min-width: 75em) {
  .icon-menu {
    display: none;
  }
}
@media (max-width: 75em) {
  .icon-menu {
    display: block;
    position: relative;
    z-index: 5;
    flex: 0 0 1.875rem;
    width: 1.875rem;
    height: 1.125rem;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    position: absolute;
    left: 50%;
    translate: -50% 0;
    background-color: var(--main-color);
    width: 70%;
    height: 0.125rem;
    border-radius: 0.3125rem;
    transition: all 0.25s linear;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu--close::before {
    top: calc(50% - 0.0625rem);
    rotate: 45deg;
  }
  .icon-menu--close::after {
    bottom: calc(50% - 0.0625rem);
    rotate: -45deg;
  }
  .icon-menu--close span {
    scale: 0;
  }
}

.page {
  display: flex;
  flex-direction: column;
}
.page__container {
  inline-size: 100%;
  flex: 1 1 auto;
  block-size: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.25rem;
  padding-block-end: 1.875rem;
  padding-block-start: clamp(0.9375rem, -0.0947580645rem  +  5.1612903226vw, 5.9375rem);
}
@media (max-width: 75em) {
  .page__container {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 75em) {
  .page__aside {
    align-self: start;
    inline-size: 18rem;
    position: sticky;
    top: 0.625rem;
    left: 0;
    block-size: calc(100vh - 8.125rem);
    max-block-size: 100%;
  }
}
@media (max-width: 75em) {
  .page__aside {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    inline-size: 18.75rem;
    block-size: 100dvh;
    background-color: var(--light-color);
    translate: -100% 0;
    visibility: hidden;
    transition: translate var(--trans-menu), visibility var(--trans-menu);
    box-shadow: none;
    border: none;
  }
  .menu-open .page__aside {
    translate: 0 0;
    visibility: visible;
  }
}
@media (max-width: 29.99875em) {
  .page__aside {
    inline-size: 100%;
  }
}
.aside {
  padding-block: 1.875rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: var(--border-radius);
  overflow: auto;
  overscroll-behavior: none;
}
.aside::-webkit-scrollbar {
  display: none;
}
@media (min-width: 75em) {
  .aside__open-btn {
    display: none;
  }
}
@media (max-width: 75em) {
  .aside__open-btn {
    display: flex;
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
  }
}
.aside__body {
  min-block-size: 100%;
  display: flex;
  flex-direction: column;
}
.aside__items {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
  padding-inline: 1.25rem;
}
.aside__items:not(:last-child) {
  border-block-end: var(--border);
  padding-block-end: 0.875rem;
}
.aside__items:last-child {
  flex: 1 1 auto;
  padding-block-start: 0.625rem;
}
.aside__link {
  font-size: 0.9375rem;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  min-block-size: 2.375rem;
  padding-inline: 0.625rem;
  border-radius: var(--border-radius);
  transition: background-color var(--trans-elem);
}
.aside__link-name {
  flex: 1 1 auto;
  font-weight: 700;
}
.aside__link-count {
  color: var(--main-color-50);
}
.aside__link .icon {
  color: var(--main-color-50);
  stroke-width: 1.5;
}
.aside__link--active {
  background-color: var(--bg-grey-color);
}
.aside__link:focus-visible {
  outline: 0.125rem dashed var(--purple-color);
  outline-offset: 0.125rem;
  background-color: #ebebeb;
}
@media (any-hover: hover) {
  .aside__link:hover:not(.aside__link--active) {
    background-color: #ebebeb;
  }
}
.aside__btn-action {
  font-size: 0.9375rem;
  font-weight: 700;
  inline-size: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
  min-block-size: 2.25rem;
  padding-inline: 0.625rem;
  border-radius: var(--border-radius);
  transition: background-color var(--trans-elem);
}
.aside__btn-action svg {
  inline-size: 1rem;
  block-size: 1rem;
  color: var(--main-color-50);
}
.aside__btn-action:focus-visible {
  outline: 0.125rem dashed var(--purple-color);
  outline-offset: 0.125rem;
  background-color: #ebebeb;
}
@media (any-hover: hover) {
  .aside__btn-action:hover {
    background-color: #ebebeb;
  }
}
.aside__promo {
  margin-block-start: auto;
}

.header-aside__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9375rem;
}
.header-aside__links:not(:last-child) {
  margin-block-end: 1.5625rem;
}
.header-aside__link {
  font-weight: 700;
  position: relative;
  transition: color var(--trans-elem);
}
.header-aside__link::before {
  content: "";
  position: absolute;
  bottom: -0.3125rem;
  left: 0;
  inline-size: 100%;
  block-size: 0.125rem;
  background-color: currentColor;
  border-radius: 1rem;
  opacity: 0;
}
.header-aside__link--active {
  color: var(--purple-color);
}
.header-aside__link--active::before {
  opacity: 1;
}
.header-aside__link:focus-visible {
  outline: 0.125rem dashed var(--purple-color);
  outline-offset: 0.125rem;
}
.header-aside__link:focus-visible:not(.header-aside__link--active) {
  color: var(--blue-color);
}
@media (any-hover: hover) {
  .header-aside__link:hover:not(.header-aside__link--active) {
    color: var(--blue-color);
  }
}
.profile-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
}
.profile-aside__avatar {
  aspect-ratio: 1;
  background-color: var(--main-color-20);
  border-radius: 50%;
  overflow: hidden;
  flex-basis: clamp(3.4375rem, 3.2181451613rem  +  1.0967741935vw, 4.5rem);
  block-size: clamp(3.4375rem, 3.2181451613rem  +  1.0967741935vw, 4.5rem);
}
.profile-aside__accounts {
  position: relative;
}
.profile-aside__accounts:not(:last-child) {
  margin-block-end: 0.625rem;
}
.profile-aside__account-current {
  font-weight: 700;
  color: var(--purple-color);
  display: flex;
  align-items: center;
  gap: 0.625rem;
  transition: color var(--trans-elem);
}
.profile-aside__account-current:focus-visible {
  outline: 0.125rem dashed currentColor;
  outline-offset: 0.125rem;
  color: var(--blue-color);
}
@media (any-hover: hover) {
  .profile-aside__account-current:hover {
    color: var(--blue-color);
  }
}
.profile-aside__icon {
  inline-size: 0.8125rem;
  block-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: rotate var(--trans-elem);
}
._open-accounts .profile-aside__icon {
  rotate: 180deg;
}
.profile-aside__wrapper {
  position: absolute;
  top: 120%;
  left: 50%;
  translate: -50% 0.625rem;
  min-inline-size: 15.25rem;
  inline-size: 100%;
  box-shadow: var(--box-shadow-second);
  border: var(--border-second);
  background-color: var(--light-color);
  border-radius: var(--border-radius);
  padding: 0.9375rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: translate var(--trans-elem), opacity var(--trans-elem), visibility var(--trans-elem);
}
._open-accounts .profile-aside__wrapper {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  translate: -50% 0;
}
.profile-aside__list {
  border-bottom: var(--border);
  border-color: var(--grey-color);
  padding-block-end: 0.625rem;
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}
.profile-aside__list:not(:last-child) {
  margin-block-end: 0.625rem;
}
.profile-aside__account {
  font-size: 0.875rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  min-block-size: 1.625rem;
  inline-size: 100%;
}
.profile-aside__account-check {
  flex: 0 0 0.875rem;
  inline-size: 0.875rem;
  block-size: 0.875rem;
  border: var(--border);
  border-radius: 0.1875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-color: var(--main-color-50);
}
.profile-aside__account-check::before {
  content: "";
  position: absolute;
  inline-size: 0.625rem;
  block-size: 0.4375rem;
  background: url("../img/main-icons/check-purple.svg") center/contain no-repeat;
  opacity: 0;
}
.profile-aside__account-body {
  min-width: 0;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.profile-aside__account-avatar {
  flex: 0 0 1.625rem;
  inline-size: 1.625rem;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--grey-color);
}
.profile-aside__account-mail {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  transition: color var(--trans-elem);
}
.profile-aside__account--selected .profile-aside__account-check {
  border-color: var(--purple-color);
}
.profile-aside__account--selected .profile-aside__account-check::before {
  content: "";
  opacity: 1;
}
.profile-aside__account:focus-visible {
  outline: 0.125rem dashed var(--purple-color);
  outline-offset: 0.125rem;
}
@media (any-hover: hover) {
  .profile-aside__account:hover .profile-aside__account-mail {
    color: var(--purple-color);
  }
}
.profile-aside__btn-out {
  inline-size: 100%;
}
.profile-aside__add {
  inline-size: 100%;
}

@media (min-width: 75em) {
  .content__open-menu {
    display: none;
  }
}
@media (max-width: 75em) {
  .content__open-menu {
    display: flex;
  }
}
@media (max-width: 47.99875em) {
  .content__open-menu {
    grid-area: button;
    justify-self: end;
  }
}
.content__header:not(:last-child) {
  margin-block-end: clamp(1.25rem, 0.9919354839rem  +  1.2903225806vw, 2.5rem);
}
@media (min-width: 47.99875em) {
  .content__header {
    display: flex;
    align-items: center;
    column-gap: clamp(1.25rem, 0.5403225806rem  +  3.5483870968vw, 4.6875rem);
  }
}
@media (max-width: 47.99875em) {
  .content__header {
    display: grid;
    align-items: center;
    grid-template-areas: "link button" "search search";
    gap: 0.625rem;
  }
}
.content__btn {
  min-inline-size: 14.5625rem;
}
@media (max-width: 47.99875em) {
  .content__btn {
    min-inline-size: 13.125rem;
  }
}
@media (max-width: 47.99875em) {
  .content__btn {
    justify-self: start;
    grid-area: link;
  }
}
.content__main-search {
  flex: 1 1 auto;
  max-inline-size: 47.5rem;
}
@media (max-width: 47.99875em) {
  .content__main-search {
    grid-area: search;
  }
}
.content__items:not(:last-child) {
  margin-block-end: clamp(1.25rem, 0.9919354839rem  +  1.2903225806vw, 2.5rem);
}
.content__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
}
.content__inner:not(:last-child) {
  margin-block-end: 1.5625rem;
}
.content__title {
  font-weight: 600;
  color: var(--blue-color);
  font-size: clamp(1rem, 0.9741935484rem  +  0.1290322581vw, 1.125rem);
}
.content__view {
  font-weight: 600;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  color: var(--blue-color);
}
.content__view svg {
  inline-size: 0.8125rem;
  block-size: 0.625rem;
}
.content__folders {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  gap: 0.625rem;
}
.list-files__top {
  padding-inline: 1.25rem;
}
.list-files__top:not(:last-child) {
  margin-block-end: 1rem;
}
@media (max-width: 61.99875em) {
  .list-files__top {
    display: none;
  }
}
.list-files__row {
  display: grid;
  grid-template-columns: minmax(0, auto) minmax(0, 3fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 2fr);
  gap: 0.5rem;
}
.list-files__items:nth-child(2) {
  padding-inline-start: 2.625rem;
}
.list-files__checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.list-files__checkbox .icon {
  inline-size: 0.8125rem;
  block-size: 0.625rem;
}
.list-files__label {
  font-size: 0.875rem;
  font-weight: 60;
  color: var(--main-color-50);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.list-files__label .icon {
  inline-size: 0.8125rem;
  block-size: 0.625rem;
}
.list-files__body {
  max-block-size: 38.125rem;
  overflow-y: auto;
  scrollbar-width: thin;
}
.list-files__body:not(:last-child) {
  margin-block-end: 0.9375rem;
}
@media (max-width: 100em) and (max-height: 50em) {
  .list-files__body {
    max-block-size: 12.5rem;
  }
}
@media (max-width: 28.125em) and (max-height: 59.375em) {
  .list-files__body {
    max-block-size: 19.375rem;
  }
}
.list-files__bottom {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
@media (max-width: 47.99875em) {
  .list-files__bottom {
    flex-direction: column;
    align-items: stretch;
  }
}
.list-files__pagging {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}
.list-files__items-count {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.list-files__items-count-label {
  font-size: 0.75rem;
  color: var(--main-color-50);
}
@media (max-width: 47.99875em) {
  .list-files__items-count {
    align-self: end;
  }
}

.item-files {
  position: relative;
  padding-block: 0.9375rem;
  border-bottom: var(--border);
  transition: background-color var(--trans-elem);
  padding-inline: clamp(0.625rem, 0.4959677419rem  +  0.6451612903vw, 1.25rem);
}
.item-files--active {
  background-color: var(--bg-grey-color);
}
.item-files__row {
  display: grid;
  gap: 0.5rem;
}
@media (min-width: 61.99875em) {
  .item-files__row {
    grid-template-columns: minmax(0, 2.5rem) minmax(0, 3fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}
@media (max-width: 61.99875em) {
  .item-files__row {
    grid-template-columns: 1fr auto;
    grid-template-areas: "title checkbox" "order order" "member member" "date date" "size size" "actions actions";
  }
}
.item-files__label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
@media (max-width: 61.99875em) {
  .item-files__label:nth-child(1) {
    grid-area: checkbox;
  }
  .item-files__label:nth-child(2) {
    grid-area: title;
  }
  .item-files__label:nth-child(3) {
    grid-area: order;
  }
  .item-files__label:nth-child(4) {
    grid-area: member;
  }
  .item-files__label:nth-child(5) {
    grid-area: date;
  }
  .item-files__label:nth-child(6) {
    grid-area: size;
  }
}
@media (min-width: 61.99875em) {
  .item-files__text {
    display: none;
  }
}
@media (max-width: 61.99875em) {
  .item-files__text {
    flex: 1 1 auto;
    display: flex;
    font-size: 0.75rem;
    color: var(--main-color-50);
  }
}
.item-files__documents {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.item-files__icon {
  flex: 0 0 1.875rem;
  inline-size: 1.875rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-files__title {
  font-weight: 600;
}
.item-files__value {
  font-weight: 700;
  color: var(--blue-color);
}
.item-files__value--second {
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--main-color-50);
}
.item-files__actions {
  position: relative;
  z-index: 2;
  margin-inline-start: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
@media (max-width: 61.99875em) {
  .item-files__actions {
    grid-area: actions;
    justify-self: start;
  }
}
.item-files__btn-action {
  flex: 0 0 1.125rem;
  inline-size: 1.125rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color-20);
  transition: color var(--trans-elem);
}
.item-files__btn-action svg {
  stroke-width: 1.5;
}
@media (any-hover: hover) {
  .item-files__btn-action:hover {
    color: var(--main-color);
  }
}